.graph {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}
.graphcontent {
    position: relative;
}

.svg {
    pointer-events: none;
}

.line {
    stroke: #000;
    strokeWidth: 1px;
}

.currentTimeLine {
    stroke: red;
    strokeWidth: 1px;
}


.node {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #fccfff;
    white-space: nowrap;
}

.node .anchor {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}

.node.hover {
    background: #fccfff;
    cursor: pointer;
    user-select: none;
}

.node .resizebar {
    position: absolute;
    display: none;
    width: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.resizebar[data-role=left-dragger] {
    left: 0;
    top: 0;
    bottom: 0;
}
.resizebar[data-role=right-dragger] {
    right: 0;
    top: 0;
    bottom: 0;
}

.node.hover .resizebar {
    display: flex;
}


.timeline {
    position: relative;
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
}

.timeline .spot {
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    border-left: 1px solid #333;
}

.spot.range {
    background: #333;
}

.spot.current {
    border-radius: 50%;
    background: orange;
    border: none;
}
